<h1 class="title">Sells Orders Header</h1>

<div *ngIf="isLoading" class="loading-container">
  <div class="loading-spinner">
    <div class="spinner"></div>
    <p class="loading-text">Loading data...</p>
  </div>
</div>

<div *ngIf="hasError && !isLoading" class="error-container">
  <div class="error-message">
    <i class="dx-icon dx-icon-warning"></i>
    <h3>Error loading data</h3>
    <p>{{ errorMessage }}</p>
    <button class="retry-button" (click)="retryLoad()">
      Retry
    </button>
  </div>
</div>

<dx-data-grid
  *ngIf="!isLoading && !hasError"
  id="gridContainer"
  [dataSource]="dataSource"
  [remoteOperations]="false"
  [allowColumnReordering]="true"
  [rowAlternationEnabled]="true"
  [showBorders]="true"
  [width]="'100%'"
  (onContentReady)="contentReady($event)"
  (onRowUpdating)="onRowUpdating($event)"
  (onRowRemoving)="onRowRemoving($event)"
  (onRowInserting)="onRowInserting($event)"
>
  <dxo-paging [pageSize]="10"></dxo-paging>

  <dxo-editing
    mode="popup"
    [allowUpdating]="true"
    [allowAdding]="true"
    [allowDeleting]="true"
    [useIcons]="true">
    
    <dxo-popup
      title="Role Information"
      [showTitle]="true"
      [width]="600"
      [height]="500">
    </dxo-popup>
    
    <dxo-form>
      <dxi-item itemType="group" [colCount]="2" [colSpan]="2">
          <dxi-item dataField="orderDate" [isRequired]="true"></dxi-item>
          <dxi-item dataField="dueDate"></dxi-item>
          <dxi-item dataField="shipDate" ></dxi-item>
          <dxi-item dataField="SubtoTal" ></dxi-item>
          <dxi-item dataField="totalDue" ></dxi-item>
      </dxi-item>
    </dxo-form>
  </dxo-editing>

  <dxo-pager
    [visible]="true"
    [showPageSizeSelector]="true"
    [allowedPageSizes]="[10, 15, 20]"
  ></dxo-pager>
  <dxo-search-panel
    [visible]="true"
    [highlightCaseSensitive]="true"
  ></dxo-search-panel>
  <dxo-group-panel [visible]="false"></dxo-group-panel>
  <dxo-grouping [autoExpandAll]="true"></dxo-grouping>
  
  <dxi-column dataField="salesOrderNumber" dataType="text" caption="Order number" format="shortDate" ></dxi-column>
  <dxi-column dataField="orderDate" dataType="date" caption="Order Date" format="shortDate" ></dxi-column>
  <dxi-column dataField="dueDate" dataType="date" caption="Due Date" format="shortDate" ></dxi-column>
  <dxi-column dataField="shipDate" dataType="date" caption="Ship Date" format="shortDate" ></dxi-column>
  <dxi-column dataField="subTotal" dataType="number" caption="Subtotal" format="currency" ></dxi-column>
  <dxi-column dataField="totalDue" dataType="number" caption="Total Due" format="currency" ></dxi-column>

  <div *dxTemplate="let d of 'discountCellTemplate'">
    <div class="chart-cell">
      <dx-bullet
        [showTarget]="false"
        [showZeroLevel]="true"
        [startScaleValue]="0"
        [endScaleValue]="100"
        [value]="d.value * 100"
      >
        <dxo-size [width]="150" [height]="35"></dxo-size>
        <dxo-tooltip
          [enabled]="true"
          [paddingTopBottom]="2"
          [customizeTooltip]="customizeTooltip"
        >
          <dxo-font [size]="18"></dxo-font>
        </dxo-tooltip>
        <dxo-margin [top]="5" [bottom]="0" [left]="5"></dxo-margin>
      </dx-bullet>
    </div>
  </div>
</dx-data-grid>